* {
    margin: 0;
    padding: 0;
    font-family: Ubuntu, sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    padding: 1rem;
    border-bottom: 1px solid #cccccc;
    box-shadow: #cccccc 0px 2px 10px;
}

header span {
    font-size: 1.5rem;
}

nav li {
    display: inline-block;
    list-style: none;
    margin: 12px 20px;
    border-bottom: 2px solid #000000;
    font-weight: bold;
}

nav li:hover {
    color: rgb(14, 14, 238);
    border-bottom: 2px solid rgb(14, 14, 238);
    transition: ease 0.3s;
}

nav li a {
    text-decoration: none;
    color: inherit;
}

main {
    padding: 0 10%;
}

main section {
    margin-top: 25px;
}

main section#inicio {
    text-align: justify;
    line-height: 2rem;
    font-size: 25px;
}

article {
    padding: 15px;
    border: 1px solid #cccccc;
    margin-bottom: 1rem;
    border-radius: 2px;
}

h2 {
    margin-bottom: 15px;
}

section#categorias div span {
    padding: 6px 20px;
    border: 1px solid #000000;
    border-radius: 50px;
}

.title {
    display: block;
    font-weight: 400;
    font-size: 30px;
}

form div {
    width: 50%;
    margin-bottom: 25px;
}

form div input, textarea {
    width: 100%;
}

button[type=submit] {
    padding: 6px 12px;
}

footer {
    padding: 1.25rem;
    text-align: center;
    border-top: 1px solid #cccccc;
    box-shadow: #cccccc 0px -2px 10px;
}